header img {
    width: 50px;
    height: 50px;
    padding-left: 5px;
}

.header {
    grid-area: h;
    background-image: linear-gradient(to bottom, rgb(54, 56, 82), rgb(51, 54, 78), rgb(49, 52, 74), rgb(46, 49, 70), rgb(43, 47, 66), rgb(41, 45, 62), rgb(38, 43, 58), rgb(36, 41, 54), rgb(33, 39, 50), rgb(30, 36, 46), rgb(28, 34, 42), rgb(25, 32, 38));
    display: grid;
    align-items: center;
    box-shadow: 19px 20px 18px 4px rgb(0 0 0 / 48%);

}